*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#banner{
    background-image:url(./images/banner/banner1.png);
    background-size: cover;
    background-position: center center;
    padding-top: 216px;
    padding-bottom: 166px;
    background-repeat: no-repeat;
    
}
.container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    
}
.banner-text{
    text-align:right ; 
    max-width: 525px;
    margin-left: auto;  
}
.banner-text h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom:24px;
    
  
}
.banner-text p{
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
    color: #444343;

}
.btn {
    background-color: #F15B22;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}
#failure{
    padding: 126px 0 135px 0;
}
#failure .container .failure-content{
    display: flex;
    align-items: center;
    gap: 87px;

    
}
.failure-text{
    padding-top: 370px;
    padding-bottom: 214px;
}

.failure-text h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
    
}
.failure-text p{
    font-size: 16px;
    line-height: 26px;
    color:#444343;
    margin-bottom: 16px;


}
.failure-text ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-size: 16px;
    color:#444343;
}

.failure-text ul li{
    position: relative;
    padding-left: 28px;
}

.failure-text ul li::before{
    content: "✔";
    position: absolute;
    left: 0;
    top: 0;
    color: #16D887; 
    font-weight: bold;
}
#plans .section-heading{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    

}
#plans .container .plans-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.plans-content .plans-card  img{
    margin-bottom: 24px;
}
.plans-content .plans-card h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;

}
.plans-content .plans-card p{
    font-size: 25px;
    font-weight: 500px;
    color: #737272;
}


