*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#banner{
    background-image:url(./images/banner/banner1.png);
    background-size: cover;
    background-position: center center;
    padding-top: 216px;
    padding-bottom: 166px;
    background-repeat: no-repeat;
    
}
.container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    
}
.banner-text{
    text-align:right ; 
    max-width: 525px;
    margin-left: auto;  
}
.banner-text h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom:24px;
    
  
}
.banner-text p{
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
    color: #444343;

}
.banner-button {
    background-color: #F15B22;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}
.footer-right button{
  padding: 20px 36px;
  border: none;
  background: #FFFFFF;
  color: #F15B22;
  font-size: 20px;
  font-weight: 600px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.banner-content button{
  padding: 21px 36px;
  border: none;
  background: #FFFFFF;
  color: #F15B22;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;

}
#failure{
    padding: 126px 0 135px 0;
}
#failure .container .failure-content{
    display: flex;
    align-items: center;
    gap: 87px;

    
}
.failure-text{
    padding-top: 370px;
    padding-bottom: 214px;
}

.failure-text h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
    
}
.failure-text p{
    font-size: 16px;
    line-height: 26px;
    color:#444343;
    margin-bottom: 16px;


}
.failure-text ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-size: 16px;
    color:#444343;
}

.failure-text ul li{
    position: relative;
    padding-left: 28px;
}

.failure-text ul li::before{
    content: "✔";
    position: absolute;
    left: 0;
    top: 0;
    color: #16D887; 
    font-weight: bold;
}
#plans .section-heading{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    

}
#plans .container .plans-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.plans-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plans-card  img{
    margin-bottom: 24px;
}
.plans-content .plans-card  img{
    margin-bottom: 24px;
}
.plans-content .plans-card h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;

}
.plans-content .plans-card p{
    font-size: 25px;
    font-weight: 500px;
    color: #737272;
}
#second-banner{
   max-width: 1140px;
   width: 71%;
   margin: 0 auto;
   background-image:  url("images/gradient2.png"),url("images/watch.png"); 
   background-size: cover;
   background-position: center center;
   border-radius: 8px;
   display: flex;
   align-items: center;
   padding: 59px;
   margin-top: 130px;
   

}

.banner-content{
    text-align: left;
    max-width: 459px;
    
}

.banner-content h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color:#FFFFFF ;
}

#footer{
  background: #151414;
  color: #ccc;
  padding: 130px 0;
  margin-top: 130px;
}

.footer-container{
  max-width: 1140px;
  width: 71%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left{
  max-width: 485px;
  padding-top: 130px auto;

}

.footer-left h2{
    font-size: 45px;
    font-weight: bold;
    color:#F8F8F8;
     margin-bottom: 16px;
}

.footer-left p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

.social-icons{
  margin-top: 32px;
  display: flex;
  gap: 17px;

}

.footer-right{
  max-width: 325px;
  padding: top 122px;
  padding-bottom: 250px;
}

.footer-right h3{
    font-size: 25px;
    font-weight: 600;
  color:#FFFFFF;
  margin-bottom: 31px;
}

.footer-right input{
  width: 100%;
  padding: 22px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #F3F3F3;
  margin-bottom: 16px;
  border-radius: 8px;
}

